<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/'>Welcome to Terminal Trader!</a> &#160 &#160
        <a href='/login'>Login</a> &#160 &#160
        <a href='/xxx'>Create Account</a> &#160 &#160       <!--need to check with function this is-->
        <a href='/check_balance'>Check Balance</a> &#160 &#160
        <a href='/check_positions'>Check Positions</a>
        <br>
        <a href='/lookup'>Lookup Stock Ticker</a> &#160 &#160
        <a href='/quote'>Get Stock Quote</a> &#160 &#160
        <a href='/mtm_pnl'>Check PNL For Position</a> &#160 &#160
        <!--<a href='/mtm_pnl_portfolio'>Check PNL For Portfolio</a> &#160 &#160  <!--need to add this function-->
        <br>
        <a href='/buy'>Buy Stock</a> &#160 &#160
        <a href='/sell'>Sell Stock</a>
        <br>
    
    
    </nav>
    <div class='main'>
    {% block main %}{% endblock %}
    </div>
</body>
</html>